*.iml
.gradle
/local.properties
.DS_Store
app/build
/captures
.externalNativeBuild
.cxx
.idea
/.gradle/
/library/
/sdk/out.map

# [Maven] ========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Package Files #
*.jar
*.war
*.ear
